@font-face {
 font-family: Cizel;
    src: url("../fonts/Cinzel-Regular.ttf");
}


.mystic {
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

h1, h2, h3, h4 {
    font-family: Cizel, "Times New Roman"!important;
    font-weight: bold!important;
    color: #F8F3BD!important;
    text-shadow: 2px 2px 3px black;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: rgba(255,255,255,0.1) 0.1px;
    letter-spacing: .3rem;
}

#character-wrapper {

}